aiohttp>=3.13.2
fastapi[standard]>=0.120.0
google-auth[requests]>=2.43.0
psycopg>=3.2.12
psycopg-binary>=3.2.12
pyjwt[crypto]>=2.10.1
sqlalchemy>=2.0.44
uvicorn>=0.38.0
aiosqlite>=0.20.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
